@model ComplaintForCinema.ComplaintDepartament

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departamento</h2>

<h3>Seguro deseas Eliminar?</h3>
<div>
    <h4>Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplaintDepartamentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintDepartamentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintDepartamentIsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintDepartamentIsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a Listado", "Index")
        </div>
    }
</div>
