@model IEnumerable<CXP.Models.InputDocumentState>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estado Documento De Entrada</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InputDocumentDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InputDocumentDescription)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.InputDocumentStateID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.InputDocumentStateID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.InputDocumentStateID })
        </td>
    </tr>
}

</table>
