@model IEnumerable<ComplaintForCinema.ComplaintStatu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintStatusDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintStatusIsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintStatusDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintStatusIsActive)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ComplaintStatusID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ComplaintStatusID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ComplaintStatusID })
        </td>
    </tr>
}

</table>
