@model IEnumerable<ComplaintForCinema.ComplaintProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintProductIsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintCategory.ComplaintCategoryDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintProductIsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintCategory.ComplaintCategoryDescription)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ComplaintProductID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ComplaintProductID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ComplaintProductID })
        </td>
    </tr>
}

</table>
