@model IEnumerable<CXP.Models.Provider>
@using CXP.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proveedor</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderPersonType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderRNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderState)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetPersonType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderRNC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderState)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ProviderID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ProviderID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ProviderID })
            </td>
        </tr>
    }

</table>
