@model ComplaintForCinema.Complaint

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Queja/Reclamacion</h2>

<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplaintTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintCommets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintCommets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintLocation.ComplaintLocationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintLocation.ComplaintLocationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintProduct.ComplaintProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintProduct.ComplaintProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintStatu.ComplaintStatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintStatu.ComplaintStatusDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintType.ComplaintTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintType.ComplaintTypeDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ComplaintID }) |
    @Html.ActionLink("Volver a Listado", "Index")
</p>
