@model CXP.Models.AccountingSeat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asientos Contables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountSeatDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountSeatDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountSeatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountSeatDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
