@model IEnumerable<ComplaintForCinema.ComplaintCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categoria</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintCategoryDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintCategoryIsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintCategoryDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintCategoryIsActive)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ComplaintCategoryID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ComplaintCategoryID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ComplaintCategoryID })
        </td>
    </tr>
}

</table>
